
<body id="sign-in">

<div class="highlight-bar" style="width: 100%;"></div>
  <div class= 'col-md-offset-1'>
    <h1>Get In The Game Without Putting On Your Shoes</h1>
    <h2>Art of Smack uses Bleacher Report to filter your Twitter Timeline so you can engage in the time honored sports tradition of talking smack with your friends</h2>
  </div>
    <%= form_tag signin_path do %>
      <div class= 'row'>
        <div class= 'col-sm-4 col-md-offset-1'>
          <div class= 'well'>
            <div class= 'page-header'>
              <h3>Sign in with Bleacher Report</h3>
            </div>

            <% if @sign_in_error %>
              <p class= "text-danger"> <%= @sign_in_error %> </p>
            <% end %>

            <div class= 'form-group'>
              <input type="email" name="email" id="email" value="" class="form-control" placeholder="Enter Bleacher Report Email">
            </div>

            <div class= 'form-group'>
              <input type="password" name="password" id="password" value="" class="form-control" placeholder="Enter Bleacher Report Password">
            </div>

            <div>
              <%= submit_tag "Sign in", class: 'btn btn-default' %>
            </div>
          </div>
          <a class="btn btn-default" href="http://bleacherreport.com/api/authenticate/signup?redirect_url=http://localhost:3000/sign-in" role="button">Don't Have a BR Team Stream?    Sign up here.</a>
        </div>
      </div>
    <% end %>
</body>
