/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: #A4D3E4;
 }

 .sign-in {
  background-image: url("Sneakers on a Pier3.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 70px
 }

 .highlight-bar {
   position: fixed;
   top: 0;
   left: 0;
   height: 235px;
   width: 0;
   background: #58637B;
   z-index: -1;
   padding-bottom: 20px
 }

 h1 {
  font-size: 48px;
  color: white;
  font-weight: 100;

}

h2 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -2px;
  color: #white;
}

h3 {
 font-size: 24px;
 color: white;
 font-weight: bold;
}

.well {
  background-color: transparent;
}

.well.control-label {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
 .theme-dropdown .dropdown-menu {
   position: static;
   display: block;
   margin-bottom: 20px;
 }

 .theme-showcase > p > .btn {
   margin: 5px 0;
 }

 #footer {
   position: fixed;
   bottom: 0px;
   right: 0px;
   // height: 60px;
   background-color: #ccc;
   width: 445px;
   border-top-left-radius:26px;
   padding-left: 14px;
   padding-top: 10px;
 }
